<ion-header
  [translucent]="true"
  [class.selection-mode-header]="isSelectionMode"
  >
  <ion-toolbar>
    @if (isSelectionMode) {
      <ion-buttons slot="start">
        <ion-button
          aria-label="Exit selection mode"
          (click)="clearSelectionMode()"
          >
          <ion-icon slot="icon-only" name="close"></ion-icon>
        </ion-button>
      </ion-buttons>
    }

    @if (!isSelectionMode) {
      <ion-title>
        <div class="page-title">{{ pageTitle }}</div>
        <div class="page-title-count">{{ getListCountSummary() }}</div>
      </ion-title>
    }
    @if (isSelectionMode) {
      <ion-title>{{
        getSelectionHeaderLabel()
      }}</ion-title>
    }

    @if (!isSelectionMode) {
      <ng-container
        [ngTemplateOutlet]="browseHeaderActions"
        [ngTemplateOutletContext]="{ collapseAttr: true }"
      ></ng-container>
    }
    @if (isSelectionMode) {
      <ion-buttons slot="end">
        <ion-button
          aria-label="Select all games"
          (click)="toggleSelectAll()"
          >
          <ion-icon
            slot="icon-only"
            [name]="allDisplayedSelected ? 'checkbox' : 'square-outline'"
          ></ion-icon>
        </ion-button>
        <ion-button
          aria-label="Open bulk actions"
          (click)="openBulkActionsPopover($event)"
          >
          <ion-icon slot="icon-only" name="ellipsis-horizontal"></ion-icon>
        </ion-button>
      </ion-buttons>
    }
  </ion-toolbar>
</ion-header>

<ion-content #pageContent [fullscreen]="true" [id]="contentId">
  <ion-loading
    [isOpen]="isInitialListLoading"
    message="Loading games..."
    spinner="crescent"
  ></ion-loading>

  @if (!isSelectionMode) {
    <ion-header collapse="condense">
      <ion-toolbar>
        <ion-title size="large" class="condensed-title-inline">
          <span>{{ pageTitle }}</span>
          <span class="condensed-count-inline">{{ getListCountSummary() }}</span>
        </ion-title>
        <ng-container
          [ngTemplateOutlet]="browseHeaderActions"
          [ngTemplateOutletContext]="{ collapseAttr: true }"
        ></ng-container>
      </ion-toolbar>
    </ion-header>
  }

  <ion-popover
    [isOpen]="isBulkActionsPopoverOpen"
    [arrow]="false"
    [event]="bulkActionsPopoverEvent"
    side="bottom"
    alignment="end"
    (didDismiss)="closeBulkActionsPopover()"
    >
    <ng-template>
      <ion-content>
        <ion-list lines="none">
          <ion-item
            button
            detail="false"
            (click)="moveSelectedGamesFromPopover()"
            >
            Move to {{ getMoveTargetLabel() }}
          </ion-item>
          <ion-item
            button
            detail="false"
            (click)="setTagsForSelectedGamesFromPopover()"
            >
            Set tags
          </ion-item>
          <ion-item
            button
            detail="false"
            (click)="setStatusForSelectedGamesFromPopover()"
            >
            Set status
          </ion-item>
          <ion-item
            button
            detail="false"
            (click)="refreshMetadataForSelectedGamesFromPopover()"
            >
            Refresh metadata
          </ion-item>
          <ion-item
            button
            detail="false"
            (click)="updateHltbForSelectedGamesFromPopover()"
            >
            Update HLTB data
          </ion-item>
          <ion-item
            button
            detail="false"
            color="danger"
            (click)="deleteSelectedGames()"
            >
            Delete
          </ion-item>
        </ion-list>
      </ion-content>
    </ng-template>
  </ion-popover>

  <ion-popover
    [isOpen]="isHeaderActionsPopoverOpen"
    [event]="headerActionsPopoverEvent"
    [arrow]="false"
    side="bottom"
    alignment="end"
    (didDismiss)="closeHeaderActionsPopover()"
    >
    <ng-template>
      <ion-content>
        <ion-list lines="none">
          <ion-item button detail="false" (click)="openViewsFromPopover()">
            Views
          </ion-item>
          <ion-item button detail="false" (click)="openTagsFromPopover()">
            Tags
          </ion-item>
          <ion-item button detail="false" (click)="activateMultiSelectFromPopover()">
            Multi-select
          </ion-item>
          <ion-item button detail="false" (click)="pickRandomGameFromPopover()">
            Pick random game
          </ion-item>
          <ion-item button detail="false" (click)="openSettingsFromPopover()">
            Settings
          </ion-item>
        </ion-list>
      </ion-content>
    </ng-template>
  </ion-popover>

  <app-game-list
    [listType]="listType"
    [filters]="filters"
    [searchQuery]="listSearchQuery"
    [groupBy]="groupBy"
    (platformOptionsChange)="onPlatformOptionsChange($event)"
    (collectionOptionsChange)="onCollectionOptionsChange($event)"
    (gameTypeOptionsChange)="onGameTypeOptionsChange($event)"
    (genreOptionsChange)="onGenreOptionsChange($event)"
    (tagOptionsChange)="onTagOptionsChange($event)"
    (displayedGamesChange)="onDisplayedGamesChange($event)"
    (selectionStateChange)="onSelectionStateChange($event)"
    (metadataFilterSelected)="onMetadataFilterSelected($event)"
  ></app-game-list>

  @if (!isSelectionMode) {
    <ion-fab
      #quickActionsFab
      class="bottom-right-fab"
      slot="fixed"
      vertical="bottom"
      horizontal="end"
    >
      <ion-fab-button
        size="small"
        color="primary"
        aria-label="Open quick actions"
      >
        <ion-icon name="chevron-up"></ion-icon>
      </ion-fab-button>
      <ion-fab-list side="top">
        <ion-fab-button
          size="small"
          color="tertiary"
          aria-label="Search games"
          (click)="onBottomFabSearch()"
        >
          <ion-icon name="search"></ion-icon>
        </ion-fab-button>
        <ion-fab-button
          size="small"
          color="forest"
          aria-label="Add game"
          (click)="onBottomFabAddGame()"
        >
          <ion-icon name="add"></ion-icon>
        </ion-fab-button>
        <ion-fab-button
          size="small"
          color="medium"
          aria-label="Scroll to top"
          (click)="onBottomFabScrollTop()"
        >
          <ion-icon name="arrow-up"></ion-icon>
        </ion-fab-button>
      </ion-fab-list>
    </ion-fab>
  }
</ion-content>

<ion-modal
  [isOpen]="isSearchModalOpen"
  [initialBreakpoint]="0.2"
  [breakpoints]="[0, 0.2]"
  [backdropBreakpoint]="0.12"
  (didPresent)="onSearchModalDidPresent()"
  (didDismiss)="onSearchModalDidDismiss()"
  >
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-title>Search {{ pageTitle }}</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <ion-searchbar
        #modalSearchbar
        [placeholder]="searchPlaceholder"
        [value]="listSearchQueryInput"
        (ionInput)="onListSearchChange($any($event).detail.value)"
        (ionClear)="clearSearch()"
      ></ion-searchbar>
    </ion-content>
  </ng-template>
</ion-modal>

<ion-modal [isOpen]="isAddGameModalOpen" (didDismiss)="closeAddGameModal()">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-title>Add Game</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="closeAddGameModal()">Close</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <app-game-search
        [listType]="listType"
        (gameAdded)="closeAddGameModal()"
      ></app-game-search>
    </ion-content>
  </ng-template>
</ion-modal>

<app-game-filters-menu
  [menuId]="menuId"
  [contentId]="contentId"
  [platformOptions]="platformOptions"
  [collectionOptions]="collectionOptions"
  [gameTypeOptions]="gameTypeOptions"
  [genreOptions]="genreOptions"
  [tagOptions]="tagOptions"
  [filters]="filters"
  [groupBy]="groupBy"
  (filtersChange)="onFiltersChange($event)"
  (groupByChange)="onGroupByChange($event)"
></app-game-filters-menu>

<ng-template #browseHeaderActions let-collapseAttr="collapseAttr">
  <ion-buttons slot="end" [collapse]="collapseAttr">
      <ion-button
        aria-label="Open filters"
        (click)="openFiltersMenu()"
        class="filters-button"
        >
        <ion-icon slot="icon-only" name="filter"></ion-icon>
        @if (getActiveFilterCount() > 0) {
          <ion-badge
            color="danger"
            class="filters-active-count"
            >
            {{ getActiveFilterCount() }}
          </ion-badge>
        }
      </ion-button>
      <ion-button
        [attr.aria-label]="getHeaderActionsAriaLabel()"
        (click)="openHeaderActionsPopover($event)"
        >
        <ion-icon slot="icon-only" name="ellipsis-horizontal"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ng-template>
