<ion-header
  [translucent]="true"
  [class.selection-mode-header]="isSelectionMode"
>
  <ion-toolbar>
    <ion-buttons slot="start" *ngIf="isSelectionMode" [collapse]="true">
      <ion-button
        aria-label="Exit selection mode"
        (click)="clearSelectionMode()"
      >
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title *ngIf="!isSelectionMode">
      <div class="page-title">{{ pageTitle }}</div>
      <div class="page-title-count">{{ getListCountSummary() }}</div>
    </ion-title>
    <ion-title *ngIf="isSelectionMode">{{
      getSelectionHeaderLabel()
    }}</ion-title>

    <ng-container
      *ngIf="!isSelectionMode"
      [ngTemplateOutlet]="browseHeaderActions"
      [ngTemplateOutletContext]="{ collapseAttr: true }"
    ></ng-container>
    <ion-buttons slot="end" *ngIf="isSelectionMode" [collapse]="true">
      <ion-button
        aria-label="Select all games"
        (click)="toggleSelectAll()"
      >
        <ion-icon
          slot="icon-only"
          [name]="allDisplayedSelected ? 'checkbox' : 'square-outline'"
        ></ion-icon>
      </ion-button>
      <ion-button
        aria-label="Open bulk actions"
        (click)="openBulkActionsPopover($event)"
      >
        <ion-icon slot="icon-only" name="ellipsis-horizontal"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" [id]="contentId">
  <ion-header collapse="condense" *ngIf="!isSelectionMode">
    <ion-toolbar>
      <ion-title size="large" class="condensed-title-inline">
        <span>{{ pageTitle }}</span>
        <span class="condensed-count-inline">{{ getListCountSummary() }}</span>
      </ion-title>
      <ng-container
        [ngTemplateOutlet]="browseHeaderActions"
        [ngTemplateOutletContext]="{ collapseAttr: true }"
      ></ng-container>
    </ion-toolbar>
  </ion-header>

  <ion-popover
    [isOpen]="isBulkActionsPopoverOpen"
    [arrow]="false"
    [event]="bulkActionsPopoverEvent"
    side="bottom"
    alignment="end"
    (didDismiss)="closeBulkActionsPopover()"
  >
    <ng-template>
      <ion-content>
        <ion-list lines="none">
          <ion-item
            button
            detail="false"
            (click)="moveSelectedGamesFromPopover()"
          >
            Move to {{ getMoveTargetLabel() }}
          </ion-item>
          <ion-item
            button
            detail="false"
            (click)="setTagsForSelectedGamesFromPopover()"
          >
            Set tags
          </ion-item>
          <ion-item
            button
            detail="false"
            (click)="setStatusForSelectedGamesFromPopover()"
          >
            Set status
          </ion-item>
          <ion-item
            button
            detail="false"
            (click)="refreshMetadataForSelectedGamesFromPopover()"
          >
            Refresh metadata
          </ion-item>
          <ion-item
            button
            detail="false"
            (click)="updateHltbForSelectedGamesFromPopover()"
          >
            Update HLTB data
          </ion-item>
          <ion-item
            button
            detail="false"
            color="danger"
            (click)="deleteSelectedGames()"
          >
            Delete
          </ion-item>
        </ion-list>
      </ion-content>
    </ng-template>
  </ion-popover>

  <ion-popover
    [isOpen]="isHeaderActionsPopoverOpen"
    [event]="headerActionsPopoverEvent"
    [arrow]="false"
    side="bottom"
    alignment="end"
    (didDismiss)="closeHeaderActionsPopover()"
  >
    <ng-template>
      <ion-content>
        <ion-list lines="none">
          <ion-item button detail="false" (click)="openViewsFromPopover()">
            Views
          </ion-item>
          <ion-item button detail="false" (click)="openTagsFromPopover()">
            Tags
          </ion-item>
          <ion-item button detail="false" (click)="pickRandomGameFromPopover()">
            Pick random game
          </ion-item>
          <ion-item button detail="false" (click)="openSettingsFromPopover()">
            Settings
          </ion-item>
        </ion-list>
      </ion-content>
    </ng-template>
  </ion-popover>

  <app-game-list
    [listType]="listType"
    [filters]="filters"
    [searchQuery]="listSearchQuery"
    [groupBy]="groupBy"
    (platformOptionsChange)="onPlatformOptionsChange($event)"
    (collectionOptionsChange)="onCollectionOptionsChange($event)"
    (gameTypeOptionsChange)="onGameTypeOptionsChange($event)"
    (genreOptionsChange)="onGenreOptionsChange($event)"
    (tagOptionsChange)="onTagOptionsChange($event)"
    (displayedGamesChange)="onDisplayedGamesChange($event)"
    (selectionStateChange)="onSelectionStateChange($event)"
    (metadataFilterSelected)="onMetadataFilterSelected($event)"
  ></app-game-list>

  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button aria-label="Add game" (click)="openAddGameModal()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>

<ion-modal
  [isOpen]="isSearchModalOpen"
  [initialBreakpoint]="0.2"
  [breakpoints]="[0, 0.2]"
  [backdropBreakpoint]="0.12"
  (didPresent)="focusSearchbar()"
  (didDismiss)="closeSearchModal()"
>
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-title>Search {{ pageTitle }}</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <ion-searchbar
        #modalSearchbar
        [placeholder]="searchPlaceholder"
        [value]="listSearchQuery"
        (ionInput)="onListSearchChange($any($event).detail.value)"
        (ionClear)="clearSearch()"
      ></ion-searchbar>
    </ion-content>
  </ng-template>
</ion-modal>

<ion-modal [isOpen]="isAddGameModalOpen" (didDismiss)="closeAddGameModal()">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-title>Add Game</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="closeAddGameModal()">Close</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <app-game-search
        [listType]="listType"
        (gameAdded)="closeAddGameModal()"
      ></app-game-search>
    </ion-content>
  </ng-template>
</ion-modal>

<app-game-filters-menu
  [menuId]="menuId"
  [contentId]="contentId"
  [platformOptions]="platformOptions"
  [collectionOptions]="collectionOptions"
  [gameTypeOptions]="gameTypeOptions"
  [genreOptions]="genreOptions"
  [tagOptions]="tagOptions"
  [filters]="filters"
  [groupBy]="groupBy"
  (filtersChange)="onFiltersChange($event)"
  (groupByChange)="onGroupByChange($event)"
></app-game-filters-menu>

<ng-template #browseHeaderActions let-collapseAttr="collapseAttr">
  <ion-buttons slot="end" [collapse]="collapseAttr">
    <ion-button
      aria-label="Search games"
      (click)="openSearchModal()"
      class="search-button"
    >
      <ion-icon slot="icon-only" name="search"></ion-icon>
      <ion-badge
        *ngIf="listSearchQuery.trim().length > 0"
        class="search-active-indicator"
      ></ion-badge>
    </ion-button>
    <ion-button
      aria-label="Open filters"
      (click)="openFiltersMenu()"
      class="filters-button"
    >
      <ion-icon slot="icon-only" name="filter"></ion-icon>
      <ion-badge
        *ngIf="getActiveFilterCount() > 0"
        color="danger"
        class="filters-active-count"
      >
        {{ getActiveFilterCount() }}
      </ion-badge>
    </ion-button>
    <ion-button
      [attr.aria-label]="getHeaderActionsAriaLabel()"
      (click)="openHeaderActionsPopover($event)"
    >
      <ion-icon slot="icon-only" name="ellipsis-horizontal"></ion-icon>
    </ion-button>
  </ion-buttons>
</ng-template>
