<ion-modal [isOpen]="isOpen" (didDismiss)="dismiss.emit()">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-title>Websites</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="dismiss.emit()">Close</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>

    <ion-content class="gs-safe-bottom">
      <ion-list>
        @for (item of items; track item.key) {
          <ion-item button detail="true" (click)="websiteSelect.emit(item)">
            @switch (item.icon) {
              @case ('google') {
                <svg slot="start" class="website-brand-icon" siGoogleIcon aria-hidden="true"></svg>
              }
              @case ('youtube') {
                <svg slot="start" class="website-brand-icon" siYoutubeIcon aria-hidden="true"></svg>
              }
              @case ('twitch') {
                <svg slot="start" class="website-brand-icon" siTwitchIcon aria-hidden="true"></svg>
              }
              @case ('discord') {
                <svg slot="start" class="website-brand-icon" siDiscordIcon aria-hidden="true"></svg>
              }
              @case ('reddit') {
                <svg slot="start" class="website-brand-icon" siRedditIcon aria-hidden="true"></svg>
              }
              @case ('wikipedia') {
                <svg
                  slot="start"
                  class="website-brand-icon"
                  siWikipediaIcon
                  aria-hidden="true"
                ></svg>
              }
              @case ('epicgames') {
                <svg
                  slot="start"
                  class="website-brand-icon"
                  siEpicGamesIcon
                  aria-hidden="true"
                ></svg>
              }
              @case ('steam') {
                <svg slot="start" class="website-brand-icon" siSteamIcon aria-hidden="true"></svg>
              }
              @case ('playstation') {
                <svg
                  slot="start"
                  class="website-brand-icon"
                  siPlaystationIcon
                  aria-hidden="true"
                ></svg>
              }
              @case ('appstore') {
                <svg
                  slot="start"
                  class="website-brand-icon"
                  siAppStoreIcon
                  aria-hidden="true"
                ></svg>
              }
              @case ('googleplay') {
                <svg
                  slot="start"
                  class="website-brand-icon"
                  siGooglePlayIcon
                  aria-hidden="true"
                ></svg>
              }
              @case ('itchdotio') {
                <svg
                  slot="start"
                  class="website-brand-icon"
                  siItchDotIoIcon
                  aria-hidden="true"
                ></svg>
              }
              @case ('gogdotcom') {
                <svg
                  slot="start"
                  class="website-brand-icon"
                  siGogDotComIcon
                  aria-hidden="true"
                ></svg>
              }
              @case ('ion:globe') {
                <ion-icon slot="start" name="globe" aria-hidden="true"></ion-icon>
              }
              @default {
                <ion-icon slot="start" name="link" aria-hidden="true"></ion-icon>
              }
            }
            <ion-label>{{ item.label }}</ion-label>
          </ion-item>
        }
      </ion-list>
    </ion-content>
  </ng-template>
</ion-modal>
