.game-art {
  width: 64px;
  min-width: 64px;
  height: 72px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.game-art img {
  height: 100%;
  width: 100%;
  object-fit: contain;
  border-radius: 6px;
}

ion-item h2 {
  margin: 0;
  font-size: 0.95rem;
  font-weight: 600;
}

ion-item ion-badge {
  margin-top: 6px;
}

ion-item p {
  margin-top: 4px;
  color: var(--ion-color-medium);
}
