.game-thumbnail {
  --size: 52px;
}

ion-item h2 {
  margin: 0;
  font-size: 0.95rem;
  font-weight: 600;
}

ion-item ion-badge {
  margin-top: 6px;
}

ion-item p {
  margin-top: 4px;
  color: var(--ion-color-medium);
}
