<ion-menu [menuId]="menuId" [contentId]="contentId" side="end" type="overlay">
  <ion-header>
    <ion-toolbar>
      <ion-title>Filters & Sort</ion-title>
      <ion-buttons slot="end">
        <ion-menu-toggle>
          <ion-button fill="clear">Close</ion-button>
        </ion-menu-toggle>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list lines="full">
      <ion-item>
        <ion-select label="Sort" labelPlacement="stacked" [ngModel]="sortOption" (ngModelChange)="onSortOptionChange($event)">
          <ion-select-option value="title:asc">Title ↑</ion-select-option>
          <ion-select-option value="title:desc">Title ↓</ion-select-option>
          <ion-select-option value="platform:asc">Platform ↑</ion-select-option>
          <ion-select-option value="platform:desc">Platform ↓</ion-select-option>
          <ion-select-option value="releaseDate:asc">Release date ↑</ion-select-option>
          <ion-select-option value="releaseDate:desc">Release date ↓</ion-select-option>
          <ion-select-option value="createdAt:asc">Date added ↑</ion-select-option>
          <ion-select-option value="createdAt:desc">Date added ↓</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-select
          label="Group by"
          labelPlacement="stacked"
          [ngModel]="groupBy"
          (ngModelChange)="onGroupBySelectionChange($event)"
        >
          <ion-select-option *ngFor="let option of groupByOptions" [value]="option.value">
            {{ option.label }}
          </ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-select
          label="Platform"
          labelPlacement="stacked"
          placeholder="All platforms"
          [multiple]="true"
          [ngModel]="draftFilters.platform"
          (ngModelChange)="onPlatformSelectionChange($event)"
        >
          <ion-select-option *ngFor="let platform of platformOptions" [value]="platform">
            {{ platform }}
          </ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-select
          label="Genre"
          labelPlacement="stacked"
          placeholder="All genres"
          [multiple]="true"
          [ngModel]="draftFilters.genres"
          (ngModelChange)="onGenreSelectionChange($event)"
        >
          <ion-select-option *ngFor="let genre of genreOptions" [value]="genre">
            {{ genre }}
          </ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-select
          label="Collection"
          labelPlacement="stacked"
          placeholder="All collections"
          [multiple]="true"
          [ngModel]="draftFilters.collections"
          (ngModelChange)="onCollectionSelectionChange($event)"
        >
          <ion-select-option *ngFor="let collection of collectionOptions" [value]="collection">
            {{ collection }}
          </ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-select
          label="Status"
          labelPlacement="stacked"
          placeholder="All statuses"
          [multiple]="true"
          [ngModel]="draftFilters.statuses"
          (ngModelChange)="onStatusSelectionChange($event)"
        >
          <ion-select-option *ngFor="let status of statusOptions" [value]="status">
            {{ getStatusLabel(status) }}
          </ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-select
          label="Tags"
          labelPlacement="stacked"
          placeholder="All tags"
          [multiple]="true"
          [ngModel]="draftFilters.tags"
          (ngModelChange)="onTagSelectionChange($event)"
        >
          <ion-select-option [value]="noneTagFilterValue">None</ion-select-option>
          <ion-select-option *ngFor="let tag of tagOptions" [value]="tag">
            {{ tag }}
          </ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-select
          label="Rating"
          labelPlacement="stacked"
          placeholder="All ratings"
          [multiple]="true"
          [ngModel]="draftFilters.ratings"
          (ngModelChange)="onRatingSelectionChange($event)"
        >
          <ion-select-option *ngFor="let rating of ratingOptions" [value]="rating">
            {{ getRatingLabel(rating) }}
          </ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-input
          type="number"
          min="0"
          step="0.5"
          inputmode="decimal"
          label="HLTB main min (hours)"
          labelPlacement="stacked"
          placeholder="No min"
          [ngModel]="draftFilters.hltbMainHoursMin"
          (ngModelChange)="onHltbMainHoursMinChange($event)"
        ></ion-input>
      </ion-item>

      <ion-item>
        <ion-input
          type="number"
          min="0"
          step="0.5"
          inputmode="decimal"
          label="HLTB main max (hours)"
          labelPlacement="stacked"
          placeholder="No max"
          [ngModel]="draftFilters.hltbMainHoursMax"
          (ngModelChange)="onHltbMainHoursMaxChange($event)"
        ></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Release date from</ion-label>
        <ion-datetime-button slot="end" [datetime]="releaseDateFromDatetimeId"></ion-datetime-button>
      </ion-item>
      <ion-modal [keepContentsMounted]="true">
        <ng-template>
          <ion-header>
            <ion-toolbar>
              <ion-title>Release date from</ion-title>
            </ion-toolbar>
          </ion-header>
          <ion-datetime
            [id]="releaseDateFromDatetimeId"
            presentation="date"
            [showClearButton]="true"
            [showDefaultButtons]="true"
            [value]="draftFilters.releaseDateFrom || undefined"
            (ionChange)="onReleaseDateFromChange($event.detail.value)"
          ></ion-datetime>
        </ng-template>
      </ion-modal>

      <ion-item>
        <ion-label>Release date to</ion-label>
        <ion-datetime-button slot="end" [datetime]="releaseDateToDatetimeId"></ion-datetime-button>
      </ion-item>
      <ion-modal [keepContentsMounted]="true">
        <ng-template>
          <ion-header>
            <ion-toolbar>
              <ion-title>Release date to</ion-title>
            </ion-toolbar>
          </ion-header>
          <ion-datetime
            [id]="releaseDateToDatetimeId"
            presentation="date"
            [showClearButton]="true"
            [showDefaultButtons]="true"
            [value]="draftFilters.releaseDateTo || undefined"
            (ionChange)="onReleaseDateToChange($event.detail.value)"
          ></ion-datetime>
        </ng-template>
      </ion-modal>
    </ion-list>

    <div class="actions">
      <ion-button expand="block" fill="outline" (click)="resetFilters()">Reset</ion-button>
      <ion-menu-toggle>
        <ion-button expand="block">Done</ion-button>
      </ion-menu-toggle>
    </div>
  </ion-content>
</ion-menu>
