.actions {
  padding: 12px;
  display: flex;
  gap: 10px;
  align-items: center;
}

.actions ion-button {
  flex: 1 1 0;
}

.actions ion-menu-toggle {
  display: flex;
  flex: 1 1 0;
}

ion-accordion-group > ion-accordion:last-of-type ion-item[slot='header'] {
  --border-width: 0 0 0.55px 0;
  border-bottom: 0.55px solid var(--border-color);
}
