<app-game-filters-menu
  [menuId]="menuId"
  [contentId]="contentId"
  [platformOptions]="platformOptions"
  [filters]="filters"
  (filtersChange)="onFiltersChange($event)"
></app-game-filters-menu>

<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Collection</ion-title>
    <ion-buttons slot="end">
      <ion-menu-button [menu]="menuId"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" [id]="contentId">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Collection</ion-title>
      <ion-buttons slot="end">
        <ion-menu-button [menu]="menuId"></ion-menu-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <app-game-search [listType]="listType"></app-game-search>
  <app-game-list
    [listType]="listType"
    [filters]="filters"
    (platformOptionsChange)="onPlatformOptionsChange($event)"
  ></app-game-list>
</ion-content>
