<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start" [collapse]="true">
      <ion-back-button defaultHref="/tabs/collection"></ion-back-button>
    </ion-buttons>
    <ion-title>Tags</ion-title>
    <ion-buttons slot="end">
      <ion-button aria-label="Add tag" (click)="openNewTagModal()">
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  @if (tags$ | async; as tags) {
    <ion-list>
      @for (tag of tags; track trackByTagId($index, tag)) {
        <ion-item>
          <div
            class="tag-color-square"
            slot="start"
            [style.background]="tag.color"
            [style.color]="getTagTextColor(tag.color)"
          ></div>
          <ion-label>
            <h2>{{ tag.name }}</h2>
            <p>{{ tag.gameCount === 1 ? '1 game' : tag.gameCount + ' games' }}</p>
          </ion-label>
          <ion-button
            slot="end"
            fill="clear"
            aria-label="Tag actions"
            [id]="getActionsTriggerId(tag)"
          >
            <ion-icon slot="icon-only" name="ellipsis-vertical"></ion-icon>
          </ion-button>
          <ion-popover [trigger]="getActionsTriggerId(tag)" triggerAction="click">
            <ng-template>
              <ion-content>
                <ion-list lines="none">
                  <ion-item button detail="false" (click)="openEditTagFromPopover(tag)">
                    Edit
                  </ion-item>
                  <ion-item
                    button
                    detail="false"
                    color="danger"
                    (click)="deleteTagFromPopover(tag)"
                  >
                    Delete
                  </ion-item>
                </ion-list>
              </ion-content>
            </ng-template>
          </ion-popover>
        </ion-item>
      }
      @if (tags.length === 0) {
        <ion-item lines="none">
          <ion-label color="medium">No tags created yet.</ion-label>
        </ion-item>
      }
    </ion-list>
  }
</ion-content>

<ion-modal [isOpen]="isTagModalOpen" (didDismiss)="closeTagModal()">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-title>{{ editingTagId === null ? 'New Tag' : 'Edit Tag' }}</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="closeTagModal()">Cancel</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>

    <ion-content class="ion-padding">
      <ion-item>
        <ion-input
          label="Tag Name"
          labelPlacement="stacked"
          placeholder="e.g. Multiplayer"
          [value]="draftName"
          (ionInput)="draftName = $any($event).detail.value || ''"
        ></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Color</ion-label>
        <input
          class="color-input"
          type="color"
          [value]="draftColor"
          (change)="draftColor = $any($event.target).value || '#3880ff'"
        />
      </ion-item>

      <ion-button expand="block" class="ion-margin-top" (click)="saveTag()"> Save </ion-button>
    </ion-content>
  </ng-template>
</ion-modal>
