:8080 {
  encode gzip zstd

  @api path /api/*
  handle @api {
    uri strip_prefix /api
    reverse_proxy http://api:3000
  }

  handle_path /manuals/* {
    root * /manuals
    file_server
  }

  handle {
    root * /srv
    try_files {path} /index.html
    file_server
  }
}
