/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
@import "@ionic/angular/css/palettes/dark.system.css";

ion-header ion-toolbar {
  --background: var(--ion-color-primary);
  --color: var(--ion-color-primary-contrast);
  --border-color: var(--ion-color-primary-shade);
  --opacity: 1;
  background: var(--ion-color-primary);
}

ion-header ion-toolbar ion-title,
ion-header ion-toolbar ion-button,
ion-header ion-toolbar ion-icon,
ion-header ion-toolbar ion-back-button {
  color: var(--ion-color-primary-contrast);
}

ion-header ion-toolbar ion-button,
ion-header ion-toolbar ion-back-button {
  --color: var(--ion-color-primary-contrast);
}

ion-header ion-toolbar .page-subtitle {
  color: var(--ion-color-primary-contrast);
  opacity: 0.9;
}

ion-header ion-toolbar ion-searchbar.list-header-searchbar {
  --color: #fff !important;
  --clear-button-color: #fff !important;
  --icon-color: #fff !important;
  --placeholder-color: #fff !important;
  --placeholder-opacity: 1 !important;
  --cancel-button-color: #fff !important;
}

ion-header ion-toolbar ion-searchbar.list-header-searchbar::part(input),
ion-header ion-toolbar ion-searchbar.list-header-searchbar::part(search-icon),
ion-header ion-toolbar ion-searchbar.list-header-searchbar::part(clear-button),
ion-header ion-toolbar ion-searchbar.list-header-searchbar::part(cancel-button) {
  color: #fff !important;
}

ion-header ion-toolbar ion-searchbar.list-header-searchbar::part(input)::placeholder {
  color: #fff !important;
  opacity: 1 !important;
}

ion-fab-button {
  --color: var(--ion-color-primary-contrast);
}
